/*CONTROLDE ASISTENCIAS*/
/*BTN-MODAL*/
.container .mb-4{
    color: #fff;
}

.container .list-inline{
    color: #fff;
}   

/*TABLES CONTROL DE ASISTENCIAS*/
.container-tables{
    margin-top: 5%;
    margin-left: 20%;
    width: 1000px;
    border: solid 1px #c6c0c0;
}