*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-image: url(/IMG/spencer-davis-ilQmlVIMN4c-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background: rgb(192, 192, 200);
    border-radius: 5px;
    padding: 100px;
    margin-top: 15%;
    margin-left: 35%;
    margin-right: 35%;
}

.inputs input{
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 70px;
    border-radius: 6px;
    border: none;
    border: solid 1px #939393;
}

.container-lg .btn{
    margin-top: 12px;
    margin-left: 5px;
}

.container-lg .btn button{
    border: none;
    border-radius: 6px;
    padding: 10px;
    background: rgb(52, 16, 233);
    color: #fff;
    cursor: pointer;
}

.container-lg .btn button:hover{
    background: rgba(52, 16, 233, 0.665);
}

