*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-image: url(./images/spencer-davis-ilQmlVIMN4c-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
}


@media (max-width: 1500px) {
    body{
        background-size: cover;
        height: 1000px
    }
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 15%;
}


.background-lg{
background: rgba(200, 192, 194, 0.661);
padding: 100px;
}

.background-lg input {
    padding-right: 100px;
}






