*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header{
    background: #656565;
    height: 60px;
    border-bottom: 1px solid rgb(139, 137, 137);
}

header .logo {
    font-size: 30px;
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
}


nav{
    margin-top: 16px;
    background: #656565;
    width: 200px;
    height: 100%;
    position: fixed;
}

nav .nav-links {
    display: block;
    font-size: 15px;
    margin-left: 25px;
    list-style: none;
    padding-top: 50px;
}


.nav-links li{
    padding-top: 35px;
}

.nav-links li i{
    margin-left: -10px;
    font-size: 18px;
    padding-right: 8px;
    display: ;
}


.nav-links li a{
    color: #fff;
    text-decoration: none;
}




